.form {
  width: 350px;
  height: 500px;
  background-color: violet;
  margin: 30px auto;
  padding: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-image: url(/L12_forms/images.jpg);
  background-size: cover;
  box-shadow: 0 0 20px rgba(2, 4, 120, 0.1);
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:active {
  text-decoration: underline;
  text-decoration-color: tomato;
}
.form_body {
  margin-top: 50px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
input {
  background-color: transparent;
  border: 1px solid white;
  height: 35px;
}
.form-field label {
  line-height: 30px;
}
.form-error {
  color: red;
  visibility: hidden;
  font-size: 12px;
}
.form-field .input_error:invalid + .form-error {
  visibility: visible;
}
.form-field .input:focus {
  border: 1px solid navy;
}

.keep {
  margin-bottom: 30px;
  height: 25px;
}

button {
  width: 350px;
  color: white;
  background-color: #23ae92;
  border: none;
  height: 50px;
}
.add info {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}
.add info span {
  font-size: 10px;
}
